# Workflow used as Continous Integration every time we have a PR.
name: CI
# Build whenever someone has pushed something to the repo.
# TODO: Maybe it should only be `pull-request`?
on: [push]

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Lint with golangci-lint
    - uses: golangci/golangci-lint-action@v2
      with:
        version: latest
    
  build:
    name: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # We only support the latest version of all platforms.
        os:
        - ubuntu-latest
        - windows-latest
        - macOS-latest
        go:
        - "1.13"
        - "1.14"
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go }}
    - name: Build
      run: go build ./...
    - name: Run Unit Tests
      run: go test ./...
  
